body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(70, 68, 68);
}

.headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(70, 68, 68);
    
}

a {
    font-size: 64px;
    color: rgb(173, 11, 11);
    filter: drop-shadow(2px 2px 2px rgb(250, 247, 247));
    margin-bottom: 20px;
    text-decoration: none;
}

.pokemonContainer {
    display: flex;
    margin: 30px;
}

.pokemonOverview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: black;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid white;
    filter: drop-shadow(0px 0px 5px white);
}

.pokemonOverview:hover {
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.1);
    cursor: pointer;
}

.pokemonOverviewHeadline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pokemonName {
    position: absolute;
}

.pokemonNumber {
    font-weight: bold;
}

#pokemonIMG {
    width: 150px;
    height: 150px;
}

.pokemonIMGBox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pokemonIMGBoxPopUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ad0b0b #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ad0b0b;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.loadMoreButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#loadMoreButton {
    width: 170px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
}

#loadMoreButton:hover {
    color: rgb(173, 11, 11);
    border-color: rgb(173, 11, 11);
    font-weight: bold;
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.1);
    cursor: pointer;
}

#searchPokemon {
    display: flex;
    text-align: center;
    width: 270px;
    height: 30px;
    border-radius: 20px;
    text-indent: 5px;
    margin-bottom: 10px;
}

#searchPokemon:hover {
    border-color: rgb(173, 11, 11);
    filter: drop-shadow(0px 0px 5px white);
    cursor: pointer;
}

.pokemonOverviewInfo {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.pokemonOverviewInfo p {
    margin: 0;
}

.openPopUpPokedex-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3bf;
}

.openPopUpPokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    padding: 24px;
    border: 1px solid white;
}

.displayNone {
    display: none;
}

.arrow {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.headlineOpenPopUpPokedex {
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: end;
}

.openPopUpPokedexInfo {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.statsAndAbilities {
    display: flex;
    justify-content: space-around;
}

#stats {
    cursor: pointer;
}

#abilities {
    cursor: pointer;
}

#abilitiesContent {
    display: flex;
    justify-content: center;
}

.chartContainer {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {

    .openPopUpPokedex {
        width: 80%;
    }
}

@media (max-width: 390px) {

    .pokemonContainer {
        margin: 0;
    }

    .pokemonOverview {
        height: 350px;
        width: 250px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #pokemonIMG {
        width: 120px;
        height: 120px;
    }

    .openPopUpPokedexInfo {
        width: 80%;
    }
}

@media (max-width: 350px) {

    .chart {
        width: 90%;
    }
}


